<!DOCTYPE html>
<html>
<head>
  <title>ShopProductSink</title>
  <%= stylesheet_link_tag    "shop_product_sink/application", media: "all" %>
  <%= javascript_include_tag "shop_product_sink/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
